{% extends 'includes/base.html' %}
{% load static %}

{% block title %} Login | News {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/registration.css' %}">
{% endblock css %}

{% block content %}

    <div class="container-form">
        <form class="form-register" method="post">
            {% csrf_token %}
            <div class="title-form-container">
                <p class="title-form">Login</p>
            </div>
            <p class="msg-error">{{ error }}</p>
            <div class="inputs-container">
                <label for="user">Username:</label>
                <input class="inputs" type="text" name="username" id="user" required placeholder="robert">
            </div>
            <div class="inputs-container">
                <label for="pass">Password</label>
                <input class="inputs" type="password" name="password" id="pass" required placeholder="*********">
            </div>
            <div class="a-link">
                <a href="{% url 'register' %}">Click here if you don't have an account</a>
            </div>
            <div class="button-container">
                <button class="btn-signup">LOGIN</button>
            </div>
        </form>
    </div>

{% endblock %}