{% extends 'includes/base.html' %}
{% load static %}
{% block content %}

    {% include 'layouts/header.html' %}
    
    <main>

        <div class="text-main-container">
            <h3 class="h3-text-main">Porque detrás de cada noticia hay una historia, una verdad y un mundo que merece ser contado.</h3>
            <div class="a-main-container">
                <a href="" class="a-main">Entérate <i class="fas fa-arrow-left"></i></a>
            </div>
        </div>

        <div class="logo-main-container">
            <div class="logo-container">
                <div class="ring vertical"></div>
                <div class="ring horizontal"></div>
            </div>
            <div class="text-container-logo">
                <h1 class="title-main">NEWS</h1>
            </div>
        </div>

    </main>
    
    <section class="section-container-cards">

        <div class="card-container">
            <div class="picture-container">
                <img src="{% static 'home/images/pilot.jpg' %}" alt="Imagen">
            </div>
            <div class="text-card-container">
                <a class="a-title-card">Cómo concentrarse como un piloto de Fórmula 1</a>
                <p class="p-text-card">Te decimos como las técnicas que utilizan los pilotos para optimizar su rendimiento.</p>
            </div>
        </div>

    </section>

    {% include 'layouts/latest_news.html' %}

{% endblock %}