{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
        <main>

        <div class="text-main-container">
            <h3 class="h3-text-main">Porque detrás de cada noticia hay una historia, una verdad y un mundo que merece ser contado.</h3>
            <div class="a-main-container">
                <a href="#latest-news-section" class="a-main">Entérate <i class="fas fa-arrow-left"></i></a>
            </div>
        </div>

        <div class="logo-main-container">
            <div class="logo-container">
                <div class="ring vertical"></div>
                <div class="ring horizontal"></div>
            </div>
            <div class="text-container-logo">
                <h1 class="title-main">NEWS</h1>
            </div>
        </div>

    </main>
    
    {% include 'layouts/latest_news.html' %}
    {% include 'layouts/all_news.html' %}
{% endblock %}