{% block content %}
{% endblock %}

<header class="header">

        <div class="title-container">
            <a href="/" class="title-news">NEWS</a>
        </div>

        <nav class="navigation">
            <ul class="ul-navigation">
                <li class="li-navigation">
                    <a href="" class="a-navigation">Inicio</a>
                </li>
                <li class="li-navigation">
                    <a href="" class="a-navigation">Tecnología</a>
                </li>
                <li class="li-navigation">
                    <a href="" class="a-navigation">Economía</a>
                </li>
                <li class="li-navigation">
                    <a href="" class="a-navigation">Entretenimiento</a>
                </li>
                <li class="li-navigation">
                    <a href="" class="a-navigation">Clima</a>
                </li>
            </ul>
        </nav>

        <div class="button-header-container">
            <button type="button" id="button-header-login" class="login" data-url="{% url 'login' %}">Login</button>
            <button type="button" id="button-header-sign-up" class="sign-up">Sign-up</button>
        </div>

    </header>