{% load static %}

<header class="header">

        <div class="title-container">
            <a href="{% url 'index' %}" class="title-news">NEWS</a>
        </div>

        <nav class="navigation">
            <ul class="ul-navigation">
                <li class="li-navigation">
                    <a href="{% url 'science' %}" class="a-navigation">Ciencia</a>
                </li>
                <li class="li-navigation">
                    <a href="{% url 'technology' %}" class="a-navigation">Tecnología</a>
                </li>
                <li class="li-navigation">
                    <a href="{% url 'economy' %}" class="a-navigation">Economía</a>
                </li>
                <li class="li-navigation">
                    <a href="{% url 'entertainment' %}" class="a-navigation">Entretenimiento</a>
                </li>
                <li class="li-navigation">
                    <a href="{% url 'politics' %}" class="a-navigation">Politica</a>
                </li>
            </ul>
        </nav>

        <div class="button-header-container">
            {% if user.is_authenticated %}
                <p class="username-header">{{ user.first_name }}</p>
                <div>
                    <button type="button" class="btn-leave">Leave</button>
                </div>
                {% else %}
                    <button type="button" id="button-header-login" class="login btn" data-url="{% url 'login' %}">Login</button>
                    <button type="button" id="button-header-sign-up" class="sign-up btn" data-url="{% url 'register' %}">Sign-up</button>
            {% endif %}
        </div>

    </header>