{% load static %}

<section class="latest-news" id="latest-news-section">

    <div class="header-latest-news-container">
        <a href="" class="header-title-lnews">Noticias de última hora</a>
    </div>


    <div class="latest-news-general-container">
        <div class="latest-news-container">
            {% for last_news in latest_news|slice:"3" %}
            <div class="latest-news-card">
                <div class="latest-picture-container">
                    <img src="{{ last_news.image.url }}" alt="">
                </div>
                <div class="latest-text-container">
                    <div class="text-content">
                            <a href="" class="title-lnews">{{ last_news.title }}</a>
                            <p class="text-lnews">{{ last_news.short_description }}</p>
                    </div>
                    <div class="category-and-date-container">
                        <span class="category-and-date">{{ last_news.section }} | {{ last_news.date|date:'d/m/Y' }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    
        <div class="latest-news-container">
            {% with last_news=latest_news|slice:'3:4'|first %}
            {% if last_news %}
            <div class="info-container">
                <img src="{{ last_news.image.url }}" alt="">
                <div class="bottom-content-container">
                    <a href="" class="title-lnews">{{ last_news.title }}</a>
                    <span class="category-and-date">{{ last_news.section.name_section }} | {{ last_news.date|date:'d/m/Y' }}</span>
                </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>

</section>
