{% load static %}

{% block content %}
{% endblock %}

<section class="latest-news">

    <div class="header-latest-news-container">
        <a href="" class="header-title-lnews">Noticias de última hora</a>
    </div>


    <div class="latest-news-general-container">

        <div class="latest-news-container">
            <div class="latest-news-card">
                <div class="latest-picture-container">
                    <img src="{% static 'home/images/home-water.jpeg' %}" alt="">
                </div>
                <div class="latest-text-container">
                    <a href="" class="title-lnews">Los tecno-utópicos que quieren colonizar el mar.</a>
                    <p class="text-lnews">Durante mucho tiempo, los libertarios han considerado la vida en el océano como la próxima frontera. Durante mucho tiempo, los libertarios.</p>
                    <div class="category-and-date-container">
                        <span class="category-and-date">Home | 12/25</span>
                    </div>
                </div>
            </div>
        </div> 
    
        <div class="latest-news-container">
            <div class="info-container">
                <img src="{% static 'home/images/phoebe-gates.png' %}" alt="">
                <div class="bottom-content-container">
                    <a href="" class="title-lnews">Otra Gates entra al negocio en internet</a>
                    <span class="category-and-date">Tecnologia | 12/25</span>
                </div>
            </div>
        </div>

    </div>

</section>
